body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container{
    background-color: #f4f4f4;
    padding: 20px 70px;
    padding-bottom: 30px;
    border: 1px solid #000;
}
.form-container h1{
    text-align: center;
}
.form-body{
    margin-top: 10px;
    font-size: 17px;
}
.form-body input, button{
    width: 300px;
    padding: 7px;
    font-size: 17px;
}
.form-button{
    text-align: center;
    width: 300px;
    padding: 7px;
    font-size: 17px;
}